<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
    <i class="fas fa-fw fa-mug-hot"></i>
    <span>Client Services</span>
  </a>
  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Client</h6>
      <a class="collapse-item" href="./main?parent=Client Services&actionName=Manage Clients&action=clientsManage">Manage Clients</a>
      <a class="collapse-item" href="./main?parent=Client Services&actionName=Upload Client&action=clientsUpload">Upload</a>
      <a class="collapse-item" href="./main?parent=Client Test Services&actionName=Test Client&action=clientTest">Test</a>
    </div>
  </div>
</li>

<!-- Nav Item - Service & Operations Collapse Menu -->
<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSvcOps" aria-expanded="true" aria-controls="collapseSvcOps">
    <i class="fas fa-fw fa-server"></i>
    <span>Server Services</span>
  </a>
  <div id="collapseSvcOps" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Server</h6>
      <a class="collapse-item" href="./main?parent=Server Services&actionName=View Server Services&action=serverManage">Manage Server Services</a>
      <a class="collapse-item" href="./main?parent=Server Services&actionName=Upload Server Services&action=serverUpload">Upload</a>
    </div>
  </div>
</li>

<!-- Nav Item - Web Views -->
<!-- <li class="nav-item">
  <a class="nav-link" href="#">
    <i class="fas fa-fw fa-folder"></i>
    <span>Web Views</span></a>
</li> -->

<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">

<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
  <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>

</ul>